// ###############################################################
// ##################    IMPORTS  ################################
// ###############################################################

// ###############################################################
// ##################    VARIABLES  ##############################
// ###############################################################

//Fonts

// Colors

$Hauptfarbe: #f5f7fa;
$Zweitfarbe: #c3cfe2;
$Drittfarbe: #c5cade;

// ###############################################################
// ##################    GENERAL TAGS    #########################
// ###############################################################

* {
  margin: 0px;
  padding: 0px;
  font-size: 18px;
  font-family: Montserrat, serif;
}

a {
  color: black;
}

// ###############################################################
// ##################  SITEWRAPPERS  #############################
// ###############################################################

#sitewrapper1 {
  width: 100%;
  height: 100vh;
}

#sitewrapper3 {
  width: 100%;
  height: 100vh;
}

#sitewrapper2 {
  width: 100%;
  height: 100vh;
}

#sitewrapper4 {
  width: 100%;
  height: 100vh;
}

// ###############################################################
// ##################    NAV    ##################################
// ###############################################################

nav {
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 4;

  ul {
    width: 100%;
    height: 100px;
    display: block;

    li {
      width: 20%;
      float: left;
      display: block;
      height: 105px;
      text-align: center;
      padding-top: 30px;
      font-size: 1.2em;

      a {
        font-size: 2.1em;
        text-decoration: none;
        font-size: 2em;
        font-family: "Montserrat", serif;
        font-weight: 500;
        transition-timing-function: easeInCubic;
        transition-duration: 0.2s;

        &:hover {
          font-size: 2.1em;
        }
      }
    }
  }
}

// ###############################################################
// ##################  BACKGROUND CLASSES   ######################
// ###############################################################

.bg1 {
  background-image: linear-gradient(to right, #89f7fe 0%, #66a6ff 100%);
}

.bg2 {
  background-image: linear-gradient(to right, #e6e9f0, #eef1f5);
}

.bg3 {
  background: #cb2d3e;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #cb2d3e, #ef473a);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #cb2d3e, #ef473a);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg4 {
  background-image: linear-gradient(to right, #667eea 0%, #764ba2 100%);
}

// ###############################################################
// ##################  MIDDLE / SMALL MENU OVERLAY################
// ###############################################################

.mobile-nav {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 55;
}

#mobilemenuwrapper {
  height: 50vh;
  width: 50vw;
  background-color: black;
  position: fixed;
  top: 18vh;
  left: 24vw;

  ul {
    width: 100%;
    height: 100%;

    li {
      width: 100%;
      height: 25%;
      padding-top: 5%;
      font-size: 2rem;
      text-align: center;
      color: white;

      &::after {
        content: ">";
      }

      &::before {
        content: "<";
      }

      &:nth-child(5)::before {
        content: "";
      }

      &:nth-child(5)::after {
        content: "";
      }
      a {
        text-decoration: none;
        color: whitesmoke;
        cursor: pointer;
      }
    }
  }
}

.show {
  display: block;
}

.hide {
  display: none;
}

// ###############################################################
// ##################  EXTRA CLASSES  ############################
// ###############################################################

.logola {
  font-size: 2.5em;

  &:hover {
    font-size: 3em;
    text-transform: uppercase;
  }
}

.logoli {
  padding-top: 25px;
}

.active {
  color: white;
  font-size: 2.1em;
}

.activeli {
  transition: 0.5s ease;
}

.backtotop {
  display: block;
  position: fixed;
  height: 55px;
  width: 55px;
  background-color: rgba(0, 0, 0, 0.1);
  top: 75vh;
  left: 500px;
  border-radius: 50px;
  color: black;
  text-align: center;

  i {
    font-size: 2.5em;
    padding-top: 7px;
  }
}

.backtotoplol {
  left: 128px;
  display: block;
  top: 75vh;
}

// ###############################################################
// ##################  MEDIA QUERIES  ############################
// ###############################################################

@media only screen and (max-width: 1000px) {
  nav {
    display: none;
  }

  mid-nav {
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 4;

    ul {
      width: 100%;
      height: 100px;
      display: block;

      li {
        width: 20%;
        float: left;
        display: block;
        height: 105px;
        text-align: center;
        padding-top: 30px;
        font-size: 1.2em;

        &:nth-child(5) {
          padding-top: 20%x;

          &:hover {
          }
        }

        a {
          font-size: 2.1em;
          text-decoration: none;
          font-size: 2em;
          font-family: "Montserrat", serif;
          font-weight: 500;
          transition-timing-function: easeInCubic;
          transition-duration: 0.2s;

          &:hover {
            font-size: 2.1em;
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1000px) {
  mid-nav {
    display: none;
  }
}
